@charset "utf-8";
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-webkit-text-size-adjust:100%}body{margin:0}main{display:block}h1{font-size:2em;margin:.67em 0}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}img{border-style:none}button,input,optgroup,select,textarea{font-family:inherit;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}[type=button],[type=reset],[type=submit],button{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details{display:block}summary{display:list-item}template{display:none}[hidden]{display:none}

@font-face {
    font-family: EncodeSans;
    font-style: normal;
    font-weight: 700;
    src: local('Encode Sans'), url(EncodeSans-Regular.woff) format('woff');
}

body {
    font-family: EncodeSans, sans-serif;
    text-align: center;
}

.clearfix:after, .clearfix:before {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#content-header {
    margin: 16px;
    padding: 8px;
    color: rgba(0, 0, 0, .87);
}

#content-header a, #content-header a:active, #content-header a:visited {
    color: #42a5f5;
    text-decoration: none;
    cursor: pointer;
}

#content-header a:active:hover, #content-header a:hover, #content-header a:visited:hover {
    color: #212121;
}

#content-header h1, #content-header h2, #content-header h3, #content-header h4, #content-header h5, #content-header h6 {
    margin: .1em 0;
}

#content {
    overflow: auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -ms-flex-order: 50;
    order: 50;
    position: relative;
}

#view {
    clear: both;
    max-width: 1200px;
    margin: auto;
}

#view.view-details {
    margin: auto;
}

#view.view-details .header {
    position: relative;
    white-space: nowrap;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
    border-radius: 2px 2px 0 0;
}

#view.view-details .header .date, #view.view-details .header .label, #view.view-details .header .size {
    transition: all .2s ease-in-out;
    line-height: 24px;
    padding: 0 8px 16px 8px;
    opacity: .4;
    outline: 0;
}

#view.view-details .header .date:hover, #view.view-details .header .label:hover, #view.view-details .header .size:hover {
    opacity: 1;
    color: #42a5f5;
}

#view.view-details .item {
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, .07);
}

#view.view-details .item:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .5);
    z-index: 1;
}

#view.view-details .item:last-child {
    border-radius: 0 0 2px 2px;
}

#view.view-details .date, #view.view-details .label, #view.view-details .size {
    padding: 0 8px;
}

#view.view-details .label {
    margin: 0 246px 0 48px;
}

#view.view-details .date {
    position: absolute;
    right: 116px;
    top: 0;
}

#view.view-details .size {
    position: absolute;
    right: 16px;
    top: 0;
}

#view.view-details .item .date, #view.view-details .item .label, #view.view-details .item .size {
    line-height: 30px;
}

#view a, #view a:active, #view a:visited {
    display: block;
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

#view ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#view .header {
    display: none;
}

#view .item {
    position: relative;
    white-space: nowrap;
    background: #fff;
}

#view .item:hover {
    color: #42a5f5;
    background: #fafafa;
}

#view .label {
    display: block;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
}

#view .date {
    text-align: right;
    width: 190px;
}

#view .size {
    text-align: right;
    width: 80px;
}

.container {
    padding: 25px;
}

.flavor {
    border: 1px solid #ccc;
    background: #fff;
    margin: 20px auto;
    transition: all .3s;
    display: flex;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .05);
    max-width: 1100px;
}

.flavor span, .flavor:after {
    display: block;
}

.flavor .description {
    background-color: #fff;
    padding: 20px;
    float: left;
    width: 70%;
}

.flavor .download {
    background: #fafafa;
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
    border-right: 1px solid #ccc;
}

.flavor:hover {
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, .5);
}

.flavor:hover .download a {
    color: #000 !important;
}

.flavor:after {
    content: " ";
    height: 0;
    clear: both;
}

.download .download-link {
    font-size: 1em;
}

.download .download-link:after {
    content: url(dl.svg);
    font-size: 5em;
    display: block;
    text-decoration: underline !important;
    padding: 24px;
}

.download:hover .download-link:after {
    content: url(dl_b.svg);
}

code {
    background: #002b36;
    font-family: monospace;
    font-size: 11px;
    color: #839496;
    text-align: left;
    padding: 4px 10px;
    white-space: nowrap;
    margin: 20px auto;
}

.flavor code {
    display: block;
}

code.pgp-verify {
    display: inline-block;
}

code .command {
    color: #2aa198;
}

code .url {
    color: #d33682;
}

code .file {
    color: #7eec0d;
}

.stability-alpha {
    color: #f00;
}

.stability-beta {
    color: #fa0;
}

.stability-alpha .label::after {
    content: 'ALPHA';
    font-size: .6em;
    margin-left: 1em;
}

.stability-beta .label::after {
    content: 'BETA';
    font-size: .6em;
    margin-left: 1em;
}

@media only screen and (max-width: 600px) {
    code.pgp-verify {
        display: block;
    }
}

@media only screen and (max-width: 676px) {
    body {
        padding: 1px !important;
    }

    .flavor .download {
        width: auto !important;
    }

    .date {
        display: none !important;
    }

    .label {
        margin: auto !important;
    }
}

@media only screen and (min-width: 675px) {
    #view.view-details .label {
        margin: 0 246px 0 8px !important;
    }
}

@media only screen and (max-width: 1020px) {
    .flavor code {
        display: none;
    }
}

@media print {
    *, :after, :before, :first-letter, :first-line {
        background: 0 0 !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
}
